<div id="modal-edit-plan" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal container-fluid" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{msg.editPlan}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-5">{{msg.name}}*</label>
                        <div class="col-md-7 "><input class="form-control validate[required]" name="name" ng-value="formDataEdit.name"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">{{msg.comment}}</label>
                        <div class="col-md-7 "><input class="form-control" name="comment" ng-value="formDataEdit.comment"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">{{msg.firstRun}}</label>
                        <div class="col-md-7 "><input class="form-control validate[required]" type="datetime-local"
                                                      name="first_time" ng-value="formDataEdit.first_time"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">{{msg.runInterval}}</label>
                        <div class="col-md-4 b-pr0"><input class="form-control" name="period" ng-value="formDataEdit.period"></div>
                        <div class="col-md-2 b-p0" >
                            <select class="form-control" name="unit_period" ng-value="formDataEdit.unit_period">
                                <option value="hour" selected>小时</option>
                                <option value="day">天</option>
                                <option value="week">周</option>
                                <option value="month">月</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">{{msg.maintainTime}}</label>
                        <div class="col-md-4 b-pr0"><input class="form-control" name="duration" ng-value="formDataEdit.duration"></div>
                        <div class="col-md-2 b-p0">
                            <select class="form-control" name="unit_duration" ng-value="formDataEdit.unit_duration">
                                <option value="hour" selected>小时</option>
                                <option value="day">天</option>
                                <option value="week">周</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="clickModalOk('edit',formDataEdit.id )">{{msg.saveBtn}}</button>
                </div>
            </form>
        </div>
    </div><!-- .modal-dialog -->
</div><!-- /.modal -->
