<div id="modal-new-task" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="task-form" class="form-horizontal container-fluid" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{msg.newTask}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group ">
                        <label class="col-md-5">{{msg.name}}*</label>
                        <div class="col-md-7 "><input id="task-name" class="form-control validate[required]"  name="name"></div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-5">{{msg.comment}}</label>
                        <div class="col-md-7 "><input id="task-comment" class="form-control" name="comment"></div>
                    </div>
                    <div class="form-group " ng-if="taskMenuType == 'custom'">
                        <label class="col-md-5">{{msg.scanStrategy}}</label>
                        <div class="col-md-7 ">
                            <select id="scan-config" class="form-control" name="config_id">
                                <option ng-repeat="config in configLists" value={{config.id}} ng-selected="$first">{{config.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-5">{{msg.scanTarget}}</label>
                        <div class="col-md-7">
                            <select id="scan-target" class="form-control validate[required]" name="target_id">
                                <option ng-repeat="target in targetLists" value={{target.id}} ng-selected="$first">{{target.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-5">{{msg.scanOrder}}</label>
                        <div class="col-md-7 ">
                            <select id="hosts-ordering" class="form-control" name="hosts_ordering">
                                <option value="sequential" ng-selected="true">{{msg.sequential}}</option>
                                <option value="random">{{msg.random}}</option>
                                <option value="reverse">{{msg.reverse}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-5">{{msg.plan}}</label>
                        <div class="col-md-7 ">
                            <select id="task-plan" class="form-control" name="plan">
                                <option value="" ng-selected="true">--</option>
                                <option ng-repeat="plan in planLists" value={{plan.id}}>{{plan.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group b-dpNone">
                        <label class="col-md-5">{{msg.sourceInterface}}</label>
                        <div class="col-md-7 "><input id="source-iface" class="form-control " name="source_iface" placeholder="--"></div>
                    </div>
                    <div class="form-group b-dpNone">
                        <label class="col-md-5">{{msg.addResultInAsset}}</label>
                        <div id="in-assets" class="col-md-7">是&nbsp&nbsp<input type="checkbox" name="in_assets" ng-checked="true"></div>
                    </div>

                    <hr align="center" width="100%" />
                    <p style="font-size:150%"><strong>{{msg.scanStrength}}</strong></p>
                    <div class="form-group ">
                        <label class="col-md-5">{{msg.executeTestCaseNumber}}</label>
                        <div class="col-md-7 "><input id="max-checks" class="form-control validate[required, min[1], max[50], custom[integer]]" name="max_checks" value="10"></div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-5">{{msg.scanHostNumber}}</label>
                        <div class="col-md-7 "><input id="max-hosts" class="form-control validate[required, min[1], max[50], custom[integer]]" name="max_hosts" value="10"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="clickModalOk('new')">{{msg.confirmBtn}}</button>
                </div>
            </form>
        </div>
    </div><!-- .modal-dialog -->
</div><!-- /.modal -->
